<div class="footer">
    <div class="container">
        <div id="testSystemMessage" class="navbar-left hidden-sm hidden-xs">
            <font color="red"><b ng-bind="::'APP_TEST1' | translate" > </b><span ng-bind="::'APP_TEST2' | translate"></span></font>
        </div>
        <div id="versionMessage" class="navbar-right">
            <b ng-bind-html="::'APP_HP' | translate" ></b>
            <div class=" hidden-sm hidden-xs">
                <span ng-bind="::'APP_BUILD_SUMMARY' | translate:footerCtl.footerData"></span>
            </div>
       </div>    
    </div>
</div>